footer {
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    background-color: #343a40;
    font-weight: 400;
    font-size: 13px;

    p {
        padding: 0;
        margin: 0;
        color: #fff;

        a {
            color: #009ADD;
            font-weight: 600;
        }
    }
}

.version {
    font-weight: 400;
    color: #82BC00;
}
