@model PDFLines.Models.Client

@{
    ViewData["Title"] = "Dodawanie klienta";
    ViewData["Subtitle"] = "Dodawanie klienta";
}
<!-- go back button -->
<a asp-action="Index" class="btn btn-back">
    <i class="bi bi-arrow-left-short me-1"></i>Wróć
</a>
<!-- Create form -->
<div class="container my-4">
    <h1>@ViewData["Subtitle"]</h1>
    <hr class="title-line"/>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">       
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label required"></label>
                    <input asp-for="Name" class="form-control" placeholder="Wpisz.."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label asp-for="Active" class="control-label required"></label>
                    <div class="form-check form-switch">
                        <input class="form-check-input is-corrected" type="checkbox" role="switch" id="IsActive" asp-for="Active" />
                        <label class="form-check-label is-corrected-label" for="IsActive">Nie</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row buttons mb-4">
            <div class="col-12 col-sm-6">
                <button type="reset" class="btn btn-primary btn-reset">Wyczyść</button>
            </div>
            <div class="col-12 col-sm-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}