<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <p>&#169; 2023
            <a href="https://flex.com/" target="_blank" rel="noopener noreferrer">
                FLEX LTD.</a> 
                All rights reserved.@* | <span class="version"><b>v.1.0.</b></span>*@
        </p>
    </div>
</footer>