.assignments {
    .assignment {
        padding: 0.5rem;
        border-radius: .5rem;
        position: relative;

        div {
            margin-bottom: .5rem;
        }
    }

    .assignment-open {
        background-color: #e9e9e9;
    }

    .assignment-awaiting {
        background-color: #b3d0dd36;
    }

    .assignment-closed {
        background-color: #dbe5ca7a;
    }

    .assignment-late {
        background-color: #fcf09854;
    }

    .btn-assignment-edit {
        position: absolute;
        top: 8px;
        right: 40px;
        width: 20px;
        height: 20px;
    }

    .btn-assignment-delete {
        position: absolute;
        top: 8px;
        right: 16px;
        width: 20px;
        height: 20px;
    }

    .asgg-bottom-border {
        border-bottom: 2px solid #f2f2f2;
    }

    .btn-assignment-accept {
        @extend .btn-assignment-edit;
    }

    .btn-assignment-withdraw {
        @extend .btn-assignment-delete
    }
}
